/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ヘッダー */
header {
  background-color: #26d0c9;
  color: #fff;
  width: 100%;
  height: 90px;
}

.header-logo {
  font-size: 36px;
  padding: 20px 40px;
  float: left;
}

.header-list li{
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px 0 80px;
}

/* トップ */
.top h1 {
  font-size: 140px;
}

.top span {
  color: #ff4a4a;
}

.top h2 {
  font-size: 60px;
}

/*　コンテンツ */
.contents {
  height: 500px;
  padding: 100px 0;
}

.section-title {
  font-size: 28px;
  padding-bottom: 15px;
  border-bottom: solid 2px #dee7ec;
  margin-bottom: 50px;
}

.content-item {
  float: left;
  margin-right: 40px;
}

.content-item p {
  margin-top: 30px;
  font-size: 24px;
}

/* お問い合わせフォーム */
.info {
  padding-bottom: 100px;
}

input,textarea {
  width: 400px;
  padding: 20px;
  border: 1px solid #dee7ec;
  margin: 10px 0 30px 0;
}

.btn {
  font-size: 18px;
  color: #889eab;
  background-color: #dee7ec;
}

/* フッター */
footer {
  background-color: #2f5167;
  color: #fff;
  height: 200px;
  padding: 40px;
}

.footer-logo {
  font-size: 32px;
  float: left;
}

.footer-list {
  float: right;
}

.footer-list li {
  margin-bottom: 20px;
}