/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ヘッダー */
header {
  width: 100%;
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  font-size: 36px;
  padding: 20px 40px;
  float: left;
}

.header-list li{
  float: left;
  padding: 33px 20px;
}

/* メイン */
.main {
  margin: 100px 80px 0 80px;
}

/* メイン(トップ) */
.top h1{
  font-size: 140px;
}

span {
  color: #ff4a4a;
}

.top h2 {
  font-size: 60px;
}

/*　メイン(コンテンツ) */
.content {
  height: 500px;
  margin: 100px 0 100px 0;
}

.content h3 {
  font-size: 28px;
  padding-bottom: 15px;
  border-bottom: solid 2px #dee7ec;
  margin-bottom: 50px;
}

.content-ctegory {
  float: left;
}

.content-ctegory img {
  margin: 0 40px 30px 0;
}

.content-ctegory p {
  font-size: 24px;
}

/* メイン(お問い合わせフォーム) */
.information {
  margin-bottom: 100px;
}

input,textarea {
  width: 400px;
  padding: 20px;
  border: solid 1px #dee7ec;
  margin: 10px 0 30px 0;
}

.btn {
  font-size: 18px;
  color: #889eab;
  background-color: #dee7ec;
}

/* フッター */
footer {
  height: 200px;
  background-color: #2f5167;
  color: #fff;
  padding: 40px;
}

.footer-logo {
  font-size: 32px;
  float: left;
}

.footer-list {
  float: right;
}

.footer-list li {
  margin-bottom: 20px;
}